

/* .navbar {
    justify-content: space-between;
}  
  
span {
    padding: 1rem;
} */
/* 
.map {
    position: relative;
    height: 60%;
    display: flex;
    flex-direction: row;
} */

/* .search {
    position: relative;
} */

/* .map {
    position: relative;
} */