<!-- Start of nav bar -->
<!-- Toolbar -->
<mat-toolbar color="accent" class="app-header">
    <div><a routerLink="">BOOL</a></div>
    <span class="nav-tool-items">
        <a mat-raised-button routerLink="/logout" routerLinkActive="active">LogOut</a>

    </span>
</mat-toolbar>


<!-- End of nav bar -->
<!-- Start of Tab-section -->
<div id="tab row">
    <mat-tab-group>
        <mat-tab label="Upload Documents">
            <app-upload-documents></app-upload-documents>


        </mat-tab>
        <mat-tab label="Wallet"></mat-tab>
        <mat-tab label="History"></mat-tab>
        <mat-tab label="Support">
            <div id="support">
                <h2>
                    <p>Please contact us: We are happy to help.<br>Phone Number: 9019603550 <br> Email: support@bool.com
                    </p>
                </h2>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<!-- End of Tab-section -->
<!-- Start of footer -->

<footer class="footer-distributed">

    <div class="footer-left">
        <img src="img/logo.png">
        <h3>About<span>BOOL</span></h3>

        <p class="footer-links">
            <a href="#">Home</a> |
            <a href="#">Blog</a> |
            <a href="#">About</a> |
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">© 2019 BOOL Bike Renting Network Service.</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>309 - Rupa Solitaire,
                        Bldg. No. A - 1, Sector - 1</span> Mahape, Navi Mumbai - 400710</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 22-27782183</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@eduonix.com">support@bool.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span> We provide technology to create a renting system which reduces the use of mobile phones.</p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
<!-- End of footer -->