<!-- Start of nav bar -->
<!-- Toolbar -->
<mat-toolbar color="accent" class="app-header">
        <div><a routerLink="">BOOL</a></div>
        <span class="nav-tool-items">
          <a mat-button routerLink="/login" routerLinkActive="active">Log in</a>
          <a mat-button mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
        </span>
      </mat-toolbar>
      
      
        <!-- End of nav bar -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>
      
          <form class="example-form">
      
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username">
              </mat-form-field>
      
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password">
              </mat-form-field>
      
            </mat-card-content>
      
            <button mat-stroked-button color="accent" class="btn-block">Register</button>
      
          </form>
        </mat-card>
      </div>
          <!-- Start of footer -->
  
  <footer class="footer-distributed">
   
        <div class="footer-left">
            <img src="img/logo.png">
          <h3>About<span>BOOL</span></h3>
    
          <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">Blog</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
          </p>
    
          <p class="footer-company-name">© 2019 BOOL Bike Renting Network Service.</p>
        </div>
    
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
              <p><span>309 - Rupa Solitaire,
               Bldg. No. A - 1, Sector - 1</span>
              Mahape, Navi Mumbai - 400710</p>
          </div>
    
          <div>
            <i class="fa fa-phone"></i>
            <p>+91 22-27782183</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@eduonix.com">support@bool.com</a></p>
          </div>
        </div>
        <div class="footer-right">
          <p class="footer-company-about">
            <span>About the company</span>
            We provide technology to create a renting system which reduces the use of mobile phones.</p>
          <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
      </footer>
  
      <!-- End of footer -->
