<div id='map'></div>
<pre id='coordinates' class='coordinates'></pre>

<script>

        // setInterval(function(battery) {
        //     var level = battery.level;
        //     console.log(level);
        //     },3000);

        // navigator.getBattery().then((battery) => {

    
        //   battery.ondischargingtimechange = (event) => { 
        //     console.warn('Discharging : ', event.target.level) 
        //   };
    
        //   battery.onchargingtimechange = (event) => { 
        //     console.info('Charging : ', event.target.level) ;
        //   };

        //   battery.onchargingchange = (event) => { 
        //     console.info('Charging Change : ', event.target.level) ;
        //   };

        //   battery.onlevelchange = (event) => { 
        //     console.warn('Level Change : ', event.target.level) 
        //   };

        // });
        // navigator.getBattery().then(function(battery) {
    
        //   var level = battery.level;
    
        //   console.log(level);
        // });
</script>